body {
    overflow-x: hidden;

    .cont {
        max-width: 1400px;
        margin: auto;
        .buttonbox {
            padding-top: 20px;
            padding-bottom: 5px;
            width: 100%;
            display: inline-flex;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: center;
            a {
                margin: 0 1%;
                border-radius: 50px;
                border: 2px solid #d3d3d3;
                font-weight: 700;
            }
            .btn-outline-secondary:first-child {
                color: #fff;
                background-color: #6c757d;
            }
        }
        .cardbox {
            display: inline-flex;
            flex-wrap: wrap;
            align-content: space-around;
            margin-bottom: 60px;
            .user {
                margin-left: 5px;
                margin-top: 3px;
                width: 35px;
                height: 35px;
            }
            .time {
                position: absolute;
                bottom: 63px;
                right: 12px;
                width: 50px;
                text-align: center;
                background-color: #000;
                color: #fff;
                font-weight: 700;
            }
            .card {
                padding-top: 20px;
                border: 0;
                padding-right: 8px;
                max-width: 350px;
                min-width: 250px;
                margin: 0 auto;
                .card-body {
                    padding: 0;
                    display: inline-flex;
                    flex: none;
                }
                .card-img:hover {
                    image-orientation: unset;
                }
                .textbox {
                    padding-left: 10px;
                    width: 68%;
                    .card-text {
                        width: 100%;
                        text-align: left;
                        font-weight: bolder;
                        margin: 0 0 0 2px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    span {
                        font-size: 80%;
                    }
                    button {
                        border: none;
                        background-color: white;
                        position: absolute;
                        right: 4px;

                        :hover {
                            opacity: 0.5;
                            background-color: #fff;
                            cursor: pointer;
                        }
                        img {
                            float: right;
                            width: 4px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
